n8n/grad-portal-api.workflow.json
{
  "name": "Grad Portal API",
  "nodes": [
    {
      "parameters": {
        "path": "grad/data",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "79c9ad38-5ca8-4b8e-9846-d5d7197c785e",
      "name": "Webhook Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "3209d804-c1e8-4386-8aa8-618cdd33e28e"
    },
    {
      "parameters": {
        "jsCode": "\nconst store = $getWorkflowStaticData('global');\nconst SEED = {\"projects\": [{\"id\": 1, \"t\": \"إن شاء الله خير\", \"dir\": \"محمد رفعت\", \"snd\": \"احمد فؤاد\", \"ed\": \"احمد هلال\", \"dates\": \"24/4 - 26/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 2, \"t\": \"النمرة غلط\", \"dir\": \"مينا سمير\", \"snd\": \"لوجين حاتم\", \"ed\": \"جمانه هنداوي\", \"dates\": \"6/5 - 7/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 3, \"t\": \"19 مارس\", \"dir\": \"عبد الرحمن معتز\", \"snd\": \"—\", \"ed\": \"آيات صبحي\", \"dates\": \"21/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 4, \"t\": \"ليلى\", \"dir\": \"يحي شكري\", \"snd\": \"محمود ياسر\", \"ed\": \"محمد هشام\", \"dates\": \"25/4 - 26/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 5, \"t\": \"نص كفن\", \"dir\": \"مصطفى برديني\", \"snd\": \"احمد سمير\", \"ed\": \"يحيى الشحري\", \"dates\": \"2/5 - 3/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 6, \"t\": \"جزر\", \"dir\": \"منى هشام\", \"snd\": \"يحي محمد\", \"ed\": \"بيتر عادل\", \"dates\": \"5/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 7, \"t\": \"نسمة هوا\", \"dir\": \"جومانه سيد\", \"snd\": \"صامونيل إيميل\", \"ed\": \"محمد منير ابو المكارم\", \"dates\": \"28/4 - 29/4\", \"shot\": true, \"idx\": 4, \"foley\": true, \"mixStart\": \"7/6\"}, {\"id\": 8, \"t\": \"رايح جاي\", \"dir\": \"يوسف عرفة\", \"snd\": \"لوجين حاتم\", \"ed\": \"مريم جبر\", \"dates\": \"23/4 - 1/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 9, \"t\": \"على معادنا\", \"dir\": \"لينا أبو عبيد\", \"snd\": \"يحي محمد\", \"ed\": \"فواز عثمان\", \"dates\": \"1/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 10, \"t\": \"هابيل\", \"dir\": \"محمد احمد جابر\", \"snd\": \"محمد محمود\", \"ed\": \"عبد الرحمن\", \"dates\": \"23/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 11, \"t\": \"نور عين\", \"dir\": \"نور الحجار\", \"snd\": \"—\", \"ed\": \"مريم باهر\", \"dates\": \"28/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 12, \"t\": \"نقطة تحول\", \"dir\": \"—\", \"snd\": \"عبد الرحمن سند\", \"ed\": \"دينا حسن\", \"dates\": \"27/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 13, \"t\": \"ظل وانعكاس (فيديو قصير)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"21/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 14, \"t\": \"نحت العمر (تسجيلي)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"16/4 - 17/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 15, \"t\": \"ألوان الدرب الأحمر (تسجيلي)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"29/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 16, \"t\": \"فيلم / ظرف ثانوي\", \"dir\": \"—\", \"snd\": \"عبد الرحمن احمد\", \"ed\": \"عرفات مهدي\", \"dates\": \"23/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 17, \"t\": \"فيلم / اختيار\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"يوسف الشريف\", \"dates\": \"4/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 18, \"t\": \"فيلم / ليان\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"20/5 - 21/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 19, \"t\": \"فيلم / محطة أخيرة\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"15/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 20, \"t\": \"فيلم / رتوش\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"14/5 - 15/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 21, \"t\": \"فيلم المقبرة (تسجيلي)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"9/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 22, \"t\": \"شجر المشمش\", \"dir\": \"يارا حجاج\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"—\", \"shot\": false, \"idx\": 0, \"foley\": false}], \"professors\": [{\"name\": \"سلمى الباروني\", \"phone\": \"+201277508992\"}, {\"name\": \"إيهاب أمين\", \"phone\": \"+201226609798\"}, {\"name\": \"دارين\", \"phone\": \"+201224851343\"}, {\"name\": \"فيروز طارق\", \"phone\": \"+201146655510\"}], \"bookings\": []};\nif (!store.projects || !store.projects.length) {\n  store.projects = JSON.parse(JSON.stringify(SEED.projects));\n  store.professors = JSON.parse(JSON.stringify(SEED.professors));\n  store.bookings = store.bookings || [];\n}\nreturn [{ json: {\n  projects: store.projects,\n  professors: store.professors,\n  bookings: store.bookings || []\n}}];\n"
      },
      "id": "2735c2a6-0584-43e5-9b37-2b47ca57863d",
      "name": "Load Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://grad.iconstudio.tech"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "c3b2d512-c079-462f-8162-cd133c5da13f",
      "name": "Respond Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "path": "grad/update",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "031caefd-838c-43a0-be74-4ed5d8558dd4",
      "name": "Webhook Update",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        220
      ],
      "webhookId": "86ce0631-7259-4065-8c05-1043d288e79c"
    },
    {
      "parameters": {
        "jsCode": "\nconst store = $getWorkflowStaticData('global');\nconst SEED = {\"projects\": [{\"id\": 1, \"t\": \"إن شاء الله خير\", \"dir\": \"محمد رفعت\", \"snd\": \"احمد فؤاد\", \"ed\": \"احمد هلال\", \"dates\": \"24/4 - 26/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 2, \"t\": \"النمرة غلط\", \"dir\": \"مينا سمير\", \"snd\": \"لوجين حاتم\", \"ed\": \"جمانه هنداوي\", \"dates\": \"6/5 - 7/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 3, \"t\": \"19 مارس\", \"dir\": \"عبد الرحمن معتز\", \"snd\": \"—\", \"ed\": \"آيات صبحي\", \"dates\": \"21/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 4, \"t\": \"ليلى\", \"dir\": \"يحي شكري\", \"snd\": \"محمود ياسر\", \"ed\": \"محمد هشام\", \"dates\": \"25/4 - 26/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 5, \"t\": \"نص كفن\", \"dir\": \"مصطفى برديني\", \"snd\": \"احمد سمير\", \"ed\": \"يحيى الشحري\", \"dates\": \"2/5 - 3/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 6, \"t\": \"جزر\", \"dir\": \"منى هشام\", \"snd\": \"يحي محمد\", \"ed\": \"بيتر عادل\", \"dates\": \"5/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 7, \"t\": \"نسمة هوا\", \"dir\": \"جومانه سيد\", \"snd\": \"صامونيل إيميل\", \"ed\": \"محمد منير ابو المكارم\", \"dates\": \"28/4 - 29/4\", \"shot\": true, \"idx\": 4, \"foley\": true, \"mixStart\": \"7/6\"}, {\"id\": 8, \"t\": \"رايح جاي\", \"dir\": \"يوسف عرفة\", \"snd\": \"لوجين حاتم\", \"ed\": \"مريم جبر\", \"dates\": \"23/4 - 1/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 9, \"t\": \"على معادنا\", \"dir\": \"لينا أبو عبيد\", \"snd\": \"يحي محمد\", \"ed\": \"فواز عثمان\", \"dates\": \"1/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 10, \"t\": \"هابيل\", \"dir\": \"محمد احمد جابر\", \"snd\": \"محمد محمود\", \"ed\": \"عبد الرحمن\", \"dates\": \"23/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 11, \"t\": \"نور عين\", \"dir\": \"نور الحجار\", \"snd\": \"—\", \"ed\": \"مريم باهر\", \"dates\": \"28/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 12, \"t\": \"نقطة تحول\", \"dir\": \"—\", \"snd\": \"عبد الرحمن سند\", \"ed\": \"دينا حسن\", \"dates\": \"27/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 13, \"t\": \"ظل وانعكاس (فيديو قصير)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"21/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 14, \"t\": \"نحت العمر (تسجيلي)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"16/4 - 17/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 15, \"t\": \"ألوان الدرب الأحمر (تسجيلي)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"29/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 16, \"t\": \"فيلم / ظرف ثانوي\", \"dir\": \"—\", \"snd\": \"عبد الرحمن احمد\", \"ed\": \"عرفات مهدي\", \"dates\": \"23/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 17, \"t\": \"فيلم / اختيار\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"يوسف الشريف\", \"dates\": \"4/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 18, \"t\": \"فيلم / ليان\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"20/5 - 21/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 19, \"t\": \"فيلم / محطة أخيرة\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"15/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 20, \"t\": \"فيلم / رتوش\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"14/5 - 15/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 21, \"t\": \"فيلم المقبرة (تسجيلي)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"9/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 22, \"t\": \"شجر المشمش\", \"dir\": \"يارا حجاج\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"—\", \"shot\": false, \"idx\": 0, \"foley\": false}], \"professors\": [{\"name\": \"سلمى الباروني\", \"phone\": \"+201277508992\"}, {\"name\": \"إيهاب أمين\", \"phone\": \"+201226609798\"}, {\"name\": \"دارين\", \"phone\": \"+201224851343\"}, {\"name\": \"فيروز طارق\", \"phone\": \"+201146655510\"}], \"bookings\": []};\nconst STAGES = [\"تصوير\",\"مونتاج\",\"الفولي\",\"مراجعة استيريو\",\"المكساج النهائي\",\"DCP\",\"جاهز للتحكيم\"];\nconst MIX_IDX = 4;\nif (!store.projects || !store.projects.length) {\n  store.projects = JSON.parse(JSON.stringify(SEED.projects));\n  store.professors = JSON.parse(JSON.stringify(SEED.professors));\n  store.bookings = store.bookings || [];\n}\nconst body = $json.body || $json;\nconst p = store.projects.find(x => x.id === Number(body.projectId));\nif (!p) throw new Error('Project not found');\nconst action = body.action;\nif (action === 'advance') {\n  if (p.idx + 1 === MIX_IDX && !p.foley) throw new Error('Foley review required before final mix');\n  if (p.idx >= 6) return [{ json: { ok: true, message: 'already ready' } }];\n  p.idx++;\n  if (p.idx > 0) p.shot = true;\n  if (p.idx === MIX_IDX) p.mixStart = new Date().toLocaleDateString('ar-EG');\n}\nif (action === 'foley_confirm') {\n  if (p.idx < 2) throw new Error('Not at foley stage yet');\n  p.foley = true;\n}\nconst notify = `🎬 تحديث مشروع: ${body.project}\\n👤 ${body.student}\\n📌 ${body.fromStage} → ${body.toStage}${body.note ? '\\n📝 ' + body.note : ''}`;\nreturn [{ json: { ok: true, notify, phone: store.professors?.[0]?.phone || '' } }];\n"
      },
      "id": "990c8d26-9fd0-4b71-9671-90a100875c88",
      "name": "Process Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: $json.ok } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://grad.iconstudio.tech"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "63a54592-f0dd-4d55-aae9-1baac9538dfe",
      "name": "Respond Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        220
      ]
    },
    {
      "parameters": {
        "path": "grad/booking",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4bc1218c-55f4-452a-9588-7ead9281d274",
      "name": "Webhook Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        440
      ],
      "webhookId": "343610c9-b084-4b15-a368-7e59125beb0c"
    },
    {
      "parameters": {
        "jsCode": "\nconst store = $getWorkflowStaticData('global');\nconst SEED = {\"projects\": [{\"id\": 1, \"t\": \"إن شاء الله خير\", \"dir\": \"محمد رفعت\", \"snd\": \"احمد فؤاد\", \"ed\": \"احمد هلال\", \"dates\": \"24/4 - 26/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 2, \"t\": \"النمرة غلط\", \"dir\": \"مينا سمير\", \"snd\": \"لوجين حاتم\", \"ed\": \"جمانه هنداوي\", \"dates\": \"6/5 - 7/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 3, \"t\": \"19 مارس\", \"dir\": \"عبد الرحمن معتز\", \"snd\": \"—\", \"ed\": \"آيات صبحي\", \"dates\": \"21/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 4, \"t\": \"ليلى\", \"dir\": \"يحي شكري\", \"snd\": \"محمود ياسر\", \"ed\": \"محمد هشام\", \"dates\": \"25/4 - 26/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 5, \"t\": \"نص كفن\", \"dir\": \"مصطفى برديني\", \"snd\": \"احمد سمير\", \"ed\": \"يحيى الشحري\", \"dates\": \"2/5 - 3/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 6, \"t\": \"جزر\", \"dir\": \"منى هشام\", \"snd\": \"يحي محمد\", \"ed\": \"بيتر عادل\", \"dates\": \"5/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 7, \"t\": \"نسمة هوا\", \"dir\": \"جومانه سيد\", \"snd\": \"صامونيل إيميل\", \"ed\": \"محمد منير ابو المكارم\", \"dates\": \"28/4 - 29/4\", \"shot\": true, \"idx\": 4, \"foley\": true, \"mixStart\": \"7/6\"}, {\"id\": 8, \"t\": \"رايح جاي\", \"dir\": \"يوسف عرفة\", \"snd\": \"لوجين حاتم\", \"ed\": \"مريم جبر\", \"dates\": \"23/4 - 1/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 9, \"t\": \"على معادنا\", \"dir\": \"لينا أبو عبيد\", \"snd\": \"يحي محمد\", \"ed\": \"فواز عثمان\", \"dates\": \"1/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 10, \"t\": \"هابيل\", \"dir\": \"محمد احمد جابر\", \"snd\": \"محمد محمود\", \"ed\": \"عبد الرحمن\", \"dates\": \"23/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 11, \"t\": \"نور عين\", \"dir\": \"نور الحجار\", \"snd\": \"—\", \"ed\": \"مريم باهر\", \"dates\": \"28/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 12, \"t\": \"نقطة تحول\", \"dir\": \"—\", \"snd\": \"عبد الرحمن سند\", \"ed\": \"دينا حسن\", \"dates\": \"27/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 13, \"t\": \"ظل وانعكاس (فيديو قصير)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"21/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 14, \"t\": \"نحت العمر (تسجيلي)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"16/4 - 17/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 15, \"t\": \"ألوان الدرب الأحمر (تسجيلي)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"29/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 16, \"t\": \"فيلم / ظرف ثانوي\", \"dir\": \"—\", \"snd\": \"عبد الرحمن احمد\", \"ed\": \"عرفات مهدي\", \"dates\": \"23/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 17, \"t\": \"فيلم / اختيار\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"يوسف الشريف\", \"dates\": \"4/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 18, \"t\": \"فيلم / ليان\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"20/5 - 21/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 19, \"t\": \"فيلم / محطة أخيرة\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"15/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 20, \"t\": \"فيلم / رتوش\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"14/5 - 15/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 21, \"t\": \"فيلم المقبرة (تسجيلي)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"9/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 22, \"t\": \"شجر المشمش\", \"dir\": \"يارا حجاج\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"—\", \"shot\": false, \"idx\": 0, \"foley\": false}], \"professors\": [{\"name\": \"سلمى الباروني\", \"phone\": \"+201277508992\"}, {\"name\": \"إيهاب أمين\", \"phone\": \"+201226609798\"}, {\"name\": \"دارين\", \"phone\": \"+201224851343\"}, {\"name\": \"فيروز طارق\", \"phone\": \"+201146655510\"}], \"bookings\": []};\nif (!store.projects || !store.projects.length) {\n  store.projects = JSON.parse(JSON.stringify(SEED.projects));\n  store.professors = JSON.parse(JSON.stringify(SEED.professors));\n  store.bookings = store.bookings || [];\n}\nstore.bookings = store.bookings || [];\nconst body = $json.body || $json;\nconst p = store.projects.find(x => x.id === Number(body.projectId));\nconst clash = store.bookings.find(b => b.date === body.date && b.slot === body.slot);\nif (clash) return [{ json: { clash: true, id: null } }];\nif ((body.purpose || '').includes('المكساج') && p && !p.foley) throw new Error('Foley review required');\nconst id = 'BK' + Math.floor(1000 + Math.random() * 9000);\nconst booking = { id, projectId: body.projectId, project: body.project, student: body.student, phone: body.phone || '', date: body.date, slot: body.slot, purpose: body.purpose, supervisor: null };\nstore.bookings.push(booking);\nconst notify = `🎙️ حجز استوديو جديد\\n🎬 ${body.project}\\n👤 ${body.student}\\n📅 ${body.date} | ${body.slot}\\n🎯 ${body.purpose}\\n📞 ${body.phone || '—'}`;\nconst phones = (store.professors || []).map(x => x.phone).filter(Boolean);\nreturn [{ json: { id, clash: false, notify, phones } }];\n"
      },
      "id": "87cd8110-26de-4fec-bac6-19eda56d0bf4",
      "name": "Process Booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { id: $json.id, clash: $json.clash } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://grad.iconstudio.tech"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "e465b911-167f-4b7a-a27c-907f23c37a64",
      "name": "Respond Booking",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        440
      ]
    },
    {
      "parameters": {
        "path": "grad/claim",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6118618c-88b1-408a-8088-d05bc89f2bc5",
      "name": "Webhook Claim",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        660
      ],
      "webhookId": "2f6f4446-60ab-4ba1-970d-7b626c48b545"
    },
    {
      "parameters": {
        "jsCode": "\nconst store = $getWorkflowStaticData('global');\nconst SEED = {\"projects\": [{\"id\": 1, \"t\": \"إن شاء الله خير\", \"dir\": \"محمد رفعت\", \"snd\": \"احمد فؤاد\", \"ed\": \"احمد هلال\", \"dates\": \"24/4 - 26/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 2, \"t\": \"النمرة غلط\", \"dir\": \"مينا سمير\", \"snd\": \"لوجين حاتم\", \"ed\": \"جمانه هنداوي\", \"dates\": \"6/5 - 7/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 3, \"t\": \"19 مارس\", \"dir\": \"عبد الرحمن معتز\", \"snd\": \"—\", \"ed\": \"آيات صبحي\", \"dates\": \"21/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 4, \"t\": \"ليلى\", \"dir\": \"يحي شكري\", \"snd\": \"محمود ياسر\", \"ed\": \"محمد هشام\", \"dates\": \"25/4 - 26/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 5, \"t\": \"نص كفن\", \"dir\": \"مصطفى برديني\", \"snd\": \"احمد سمير\", \"ed\": \"يحيى الشحري\", \"dates\": \"2/5 - 3/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 6, \"t\": \"جزر\", \"dir\": \"منى هشام\", \"snd\": \"يحي محمد\", \"ed\": \"بيتر عادل\", \"dates\": \"5/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 7, \"t\": \"نسمة هوا\", \"dir\": \"جومانه سيد\", \"snd\": \"صامونيل إيميل\", \"ed\": \"محمد منير ابو المكارم\", \"dates\": \"28/4 - 29/4\", \"shot\": true, \"idx\": 4, \"foley\": true, \"mixStart\": \"7/6\"}, {\"id\": 8, \"t\": \"رايح جاي\", \"dir\": \"يوسف عرفة\", \"snd\": \"لوجين حاتم\", \"ed\": \"مريم جبر\", \"dates\": \"23/4 - 1/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 9, \"t\": \"على معادنا\", \"dir\": \"لينا أبو عبيد\", \"snd\": \"يحي محمد\", \"ed\": \"فواز عثمان\", \"dates\": \"1/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 10, \"t\": \"هابيل\", \"dir\": \"محمد احمد جابر\", \"snd\": \"محمد محمود\", \"ed\": \"عبد الرحمن\", \"dates\": \"23/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 11, \"t\": \"نور عين\", \"dir\": \"نور الحجار\", \"snd\": \"—\", \"ed\": \"مريم باهر\", \"dates\": \"28/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 12, \"t\": \"نقطة تحول\", \"dir\": \"—\", \"snd\": \"عبد الرحمن سند\", \"ed\": \"دينا حسن\", \"dates\": \"27/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 13, \"t\": \"ظل وانعكاس (فيديو قصير)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"21/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 14, \"t\": \"نحت العمر (تسجيلي)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"16/4 - 17/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 15, \"t\": \"ألوان الدرب الأحمر (تسجيلي)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"29/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 16, \"t\": \"فيلم / ظرف ثانوي\", \"dir\": \"—\", \"snd\": \"عبد الرحمن احمد\", \"ed\": \"عرفات مهدي\", \"dates\": \"23/4\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 17, \"t\": \"فيلم / اختيار\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"يوسف الشريف\", \"dates\": \"4/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 18, \"t\": \"فيلم / ليان\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"20/5 - 21/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 19, \"t\": \"فيلم / محطة أخيرة\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"15/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 20, \"t\": \"فيلم / رتوش\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"14/5 - 15/5\", \"shot\": false, \"idx\": 0, \"foley\": false}, {\"id\": 21, \"t\": \"فيلم المقبرة (تسجيلي)\", \"dir\": \"—\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"9/5\", \"shot\": true, \"idx\": 2, \"foley\": false}, {\"id\": 22, \"t\": \"شجر المشمش\", \"dir\": \"يارا حجاج\", \"snd\": \"—\", \"ed\": \"—\", \"dates\": \"—\", \"shot\": false, \"idx\": 0, \"foley\": false}], \"professors\": [{\"name\": \"سلمى الباروني\", \"phone\": \"+201277508992\"}, {\"name\": \"إيهاب أمين\", \"phone\": \"+201226609798\"}, {\"name\": \"دارين\", \"phone\": \"+201224851343\"}, {\"name\": \"فيروز طارق\", \"phone\": \"+201146655510\"}], \"bookings\": []};\nif (!store.bookings) store.bookings = [];\nconst body = $json.body || $json;\nconst b = store.bookings.find(x => x.id === body.bookingId);\nif (!b) throw new Error('Booking not found');\nif (b.supervisor) return [{ json: { taken: true, supervisor: b.supervisor } }];\nb.supervisor = body.professor;\nconst notify = `✅ تم تسجيل إشراف\\n👨‍🏫 ${body.professor}\\n🎬 ${b.project}\\n📅 ${b.date} | ${b.slot}`;\nreturn [{ json: { taken: false, ok: true, notify, studentPhone: b.phone || '' } }];\n"
      },
      "id": "a8a9e1f1-e856-45ad-918b-86e0fb97c7ba",
      "name": "Process Claim",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        660
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { taken: $json.taken, ok: $json.ok } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://grad.iconstudio.tech"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "2dea0519-8e57-4069-8ef4-8be39d00fd94",
      "name": "Respond Claim",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        660
      ]
    }
  ],
  "connections": {
    "Webhook Data": {
      "main": [
        [
          {
            "node": "Load Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Data": {
      "main": [
        [
          {
            "node": "Respond Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update": {
      "main": [
        [
          {
            "node": "Process Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Update": {
      "main": [
        [
          {
            "node": "Respond Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Booking": {
      "main": [
        [
          {
            "node": "Process Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Booking": {
      "main": [
        [
          {
            "node": "Respond Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Claim": {
      "main": [
        [
          {
            "node": "Process Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Claim": {
      "main": [
        [
          {
            "node": "Respond Claim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}